<a href="https://colab.research.google.com/github/Hamza1122/TuriCreat-Recommendation/blob/master/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt install libnvrtc8.0
!pip uninstall -y mxnet-cu80 && pip install mxnet-cu80==1.1.0
!pip install turicreate

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libnvrtc8.0
E: Couldn't find any package by glob 'libnvrtc8.0'
E: Couldn't find any package by regex 'libnvrtc8.0'
Uninstalling mxnet-cu80-1.1.0:
  Successfully uninstalled mxnet-cu80-1.1.0
Collecting mxnet-cu80==1.1.0
  Using cached https://files.pythonhosted.org/packages/9c/55/bcfd26fd408a4bab27bca1ef5dc1df42954509c904699a6c371d5a4c23ab/mxnet_cu80-1.1.0-py2.py3-none-manylinux1_x86_64.whl
ERROR: Operation cancelled by user
Requirement already satisfied: turicreate in /usr/local/lib/python3.6/dist-packages (5.7.1)
Requirement already satisfied: pillow>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (6.1.0)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.18.4)
Requirement already satisfied: mxnet<1.2.0,>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.1.0.post0)
Requirement already satisfied: resampy==0.2.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.2.1)
Collecting numpy==1.16.4 (from turicreate)
  Using cached https://files.pythonhosted.org/packages/87/2d/e4656149cbadd3a8a0369fcd1a9c7d61cc7b87b3903b85389c70c989a696/numpy-1.16.4-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.24.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.3.1)
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.12.0)
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.0)
Requirement already satisfied: coremltools==3.0b3 in /usr/local/lib/python3.6/dist-packages (from turicreate) (3.0b3)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: graphviz<0.9.0,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from mxnet<1.2.0,>=1.1.0->turicreate) (0.8.1)
Requirement already satisfied: numba>=0.32 in /usr/local/lib/python3.6/dist-packages (from resampy==0.2.1->turicreate) (0.40.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.0b3->turicreate) (3.7.1)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.32->resampy==0.2.1->turicreate) (0.29.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.1.0->coremltools==3.0b3->turicreate) (41.2.0)
ERROR: tfds-nightly 1.2.0.dev201909050105 has requirement requests>=2.19.0, but you'll have requests 2.18.4 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement numpy<1.15.0,>=1.8.2, but you'll have numpy 1.16.4 which is incompatible.
ERROR: google-colab 1.0.0 has requirement requests~=2.21.0, but you'll have requests 2.18.4 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy
  Found existing installation: numpy 1.13.3
    Uninstalling numpy-1.13.3:
      Successfully uninstalled numpy-1.13.3
Successfully installed numpy-1.16.4

In [0]:
import turicreate 
import numpy as np
import pandas as pd
from google.colab import files
#uploaded=files.upload()

In [0]:
df=pd.read_csv("baskets.csv")
df.head(15)

    id  branch_id  user_id  ...  buyer_comments  seller_comments  group_id
0    1          1        2  ...             NaN              NaN       NaN
1    2          1        2  ...             NaN              NaN       NaN
2    3          1        2  ...             NaN              NaN       NaN
3    4          1        2  ...             NaN              NaN       NaN
4    5          1        2  ...             NaN              NaN       NaN
5    6          1        2  ...             NaN              NaN       NaN
6    7          1        2  ...             NaN              NaN       NaN
7    8          1        2  ...             NaN              NaN       NaN
8    9          1        2  ...             NaN              NaN       NaN
9   10          1        2  ...             NaN              NaN       NaN
10  11          1        2  ...             NaN              NaN       NaN
11  12          1        2  ...             NaN              NaN       NaN
12  13          1        2  ...             NaN              NaN       NaN
13  14          1        2  ...             NaN              NaN       NaN
14  15          1        2  ...             NaN              NaN       NaN

[15 rows x 29 columns]

In [0]:
df=df.drop(['order_id','gross','discount','tax_id','total_charity','total_tax','gift_aid_postcode','roundoff','voucher_id'],axis=1)

In [0]:
df=df.drop(['net','status','gift_aid','amount_to_charity','checked_at','checked_by','notification_seen','order_type','accept_status','buyer_comments','seller_comments','group_id','table_number','charity_id'],axis=1)

In [0]:
df.head(60)

    id  branch_id  ...           created_at           updated_at
0    1          1  ...  2019-01-04 11:48:56  2019-01-04 11:48:56
1    2          1  ...  2019-01-04 11:50:39  2019-01-04 11:50:39
2    3          1  ...  2019-01-04 11:51:12  2019-01-04 11:51:12
3    4          1  ...  2019-01-04 11:55:12  2019-01-04 11:55:12
4    5          1  ...  2019-01-04 11:55:45  2019-01-04 11:55:45
5    6          1  ...  2019-01-04 11:59:47  2019-01-04 11:59:47
6    7          1  ...  2019-01-04 12:06:06  2019-01-04 12:06:06
7    8          1  ...  2019-01-04 12:06:41  2019-01-04 12:06:41
8    9          1  ...  2019-01-04 12:07:11  2019-01-04 12:07:11
9   10          1  ...  2019-01-04 12:08:02  2019-01-04 12:08:02
10  11          1  ...  2019-01-04 12:09:01  2019-01-04 12:09:01
11  12          1  ...  2019-01-04 12:09:36  2019-01-04 12:09:36
12  13          1  ...  2019-01-04 12:13:08  2019-01-04 12:13:08
13  14          1  ...  2019-01-04 12:16:13  2019-01-04 12:16:13
14  15          1  ...  2019-01-04 12:17:13  2019-01-04 12:17:13
15  16          1  ...  2019-01-04 12:23:07  2019-01-04 12:23:08
16  17          1  ...  2019-01-04 12:26:26  2019-01-04 12:26:26
17  18          1  ...  2019-01-04 12:26:52  2019-01-04 12:26:52
18  19          1  ...  2019-01-04 12:27:20  2019-01-04 12:27:20
19  20          1  ...  2019-01-04 13:01:38  2019-01-04 13:01:38
20  21          1  ...  2019-01-04 13:02:54  2019-01-04 13:02:54
21  22          1  ...  2019-01-04 13:54:16  2019-01-04 13:54:16
22  23          1  ...  2019-01-04 14:03:17  2019-01-04 14:03:17
23  24          1  ...  2019-01-04 14:05:00  2019-01-04 14:05:00
24  25          1  ...  2019-01-07 08:46:51  2019-01-07 08:46:51
25  26          1  ...  2019-01-07 09:22:54  2019-01-07 09:22:54
26  27          1  ...  2019-01-07 09:23:13  2019-01-07 09:23:13
27  28          1  ...  2019-01-07 09:23:52  2019-01-07 09:23:52
28  29          1  ...  2019-01-07 09:24:05  2019-01-07 09:24:05
29  30          1  ...  2019-01-07 09:25:11  2019-01-07 09:25:11
30  31          1  ...  2019-01-07 09:25:24  2019-01-07 09:25:24
31  32          1  ...  2019-01-07 09:25:47  2019-01-07 09:25:47
32  33          1  ...  2019-01-07 09:27:11  2019-01-07 09:27:12
33  34          1  ...  2019-01-07 09:29:01  2019-01-07 09:29:01
34  35          1  ...  2019-01-07 09:33:38  2019-01-07 09:33:38
35  36          1  ...  2019-01-07 09:34:26  2019-01-07 09:34:27
36  37          1  ...  2019-01-07 09:35:04  2019-01-07 09:35:04
37  38          1  ...  2019-01-07 10:00:36  2019-01-07 10:00:36
38  39          1  ...  2019-01-07 10:12:22  2019-01-07 10:12:22
39  40          1  ...  2019-01-07 10:13:12  2019-01-07 10:13:13
40  41          1  ...  2019-01-07 10:21:59  2019-01-07 10:21:59
41  42          1  ...  2019-01-07 10:57:26  2019-01-07 10:57:27
42  43          1  ...  2019-01-07 11:32:54  2019-01-07 11:32:54
43  44          1  ...  2019-01-07 11:43:42  2019-01-07 11:43:43
44  45          1  ...  2019-01-07 13:07:48  2019-01-07 13:07:49
45  46          1  ...  2019-01-07 13:56:33  2019-01-07 13:56:33
46  47          1  ...  2019-01-07 14:06:07  2019-01-07 14:06:08
47  48          1  ...  2019-01-07 14:07:39  2019-01-07 14:07:39
48  49          1  ...  2019-01-07 14:08:23  2019-01-07 14:08:23
49  50          1  ...  2019-01-07 14:09:27  2019-01-07 14:09:27
50  51          1  ...  2019-01-07 14:10:53  2019-01-07 14:10:53
51  52          1  ...  2019-01-07 14:15:42  2019-01-07 14:17:34
52  53          1  ...  2019-01-07 14:21:15  2019-01-07 14:21:26
53  54          1  ...  2019-01-08 10:20:37  2019-07-09 13:15:42
54  55          1  ...  2019-01-08 12:59:21  2019-01-08 12:59:31
55  56          1  ...  2019-01-08 13:01:10  2019-01-08 13:01:17
56  57          1  ...  2019-01-08 13:14:40  2019-01-08 13:14:40
57  58          1  ...  2019-01-08 13:14:52  2019-01-08 13:14:52
58  59          1  ...  2019-01-09 10:58:50  2019-01-09 14:44:30
59  60          1  ...  2019-01-09 13:09:11  2019-01-09 15:01:31

[60 rows x 6 columns]

In [0]:
df['user_id'].unique()

array([  2,  25,  26,  27,  43,  42,  44,  81,  84,  93,  95,  97,  98,
        99, 100, 104, 107, 116, 134, 143, 146, 147, 248, 262, 265, 266,
       267, 268, 278, 279, 281, 282, 285, 286, 288, 289, 291, 293, 310,
       311, 312, 313, 335, 355, 357, 368, 371, 372, 373, 374, 375, 376,
       377, 379, 380, 384, 388, 391, 454, 457, 459, 474, 475, 476, 477,
       478, 479, 480, 481, 483, 484, 486, 487, 488, 489, 491, 492, 493,
       494, 495, 507, 512, 513, 514, 515, 516, 517, 519, 522, 523, 525,
       550, 563, 704, 705, 712, 717, 738, 748, 777, 788, 768, 804, 760,
       809, 812, 810, 826, 593, 843, 856, 827, 873, 769])

In [0]:
df['updated_year']=pd.DatetimeIndex(df['updated_at']).year

In [0]:
df['updated_time']=pd.DatetimeIndex(df['updated_at']).time

In [0]:
import datetime
df[['updated_hour','updated_minutes','updated_seconds']]= df['updated_time'].apply(lambda x:pd.Series(x.strftime("%H,%M,%S").split(',')))

df=df.drop(['created_at','updated_at','updated_time'],axis=1)

In [0]:
df.head(10)

   id  branch_id  user_id  ...  updated_hour  updated_minutes updated_seconds
0   1          1        2  ...            11               48              56
1   2          1        2  ...            11               50              39
2   3          1        2  ...            11               51              12
3   4          1        2  ...            11               55              12
4   5          1        2  ...            11               55              45
5   6          1        2  ...            11               59              47
6   7          1        2  ...            12               06              06
7   8          1        2  ...            12               06              41
8   9          1        2  ...            12               07              11
9  10          1        2  ...            12               08              02

[10 rows x 8 columns]

In [0]:
df.isnull().sum()

id                 0
branch_id          0
user_id            0
total_items        6
updated_year       0
updated_hour       0
updated_minutes    0
updated_seconds    0
dtype: int64

In [0]:
df['total_items'].fillna(df['total_items'].mean(),inplace=True)
df.isnull().sum()

id                 0
branch_id          0
user_id            0
total_items        0
updated_year       0
updated_hour       0
updated_minutes    0
updated_seconds    0
dtype: int64

In [0]:
df=df.drop(['updated_year','id'],axis=1)   #UPDATED_TIME
df.head(10)

   branch_id  user_id  total_items updated_hour updated_minutes updated_seconds
0          1        2          1.0           11              48              56
1          1        2          1.0           11              50              39
2          1        2          1.0           11              51              12
3          1        2          1.0           11              55              12
4          1        2          1.0           11              55              45
5          1        2          1.0           11              59              47
6          1        2          1.0           12              06              06
7          1        2          1.0           12              06              41
8          1        2          1.0           12              07              11
9          1        2          1.0           12              08              02

In [0]:
df['updated_seconds']=df['updated_seconds'].astype(float)
df['updated_hour']=df['updated_hour'].astype(float)
#df['total_items']=df['total_items'].astype('Int64')
df['total_items'] = df['total_items'].astype('int64', copy=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 6 columns):
branch_id          437 non-null int64
user_id            437 non-null int64
total_items        437 non-null int64
updated_hour       437 non-null float64
updated_minutes    437 non-null object
updated_seconds    437 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 20.6+ KB

In [0]:
train_data=turicreate.SFrame(df)

popularity_model = turicreate.item_similarity_recommender.create(train_data, user_id='user_id', item_id='total_items', target='updated_hour')

Warning: Ignoring columns branch_id, updated_minutes, updated_seconds;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 437 observations with 114 users and 15 items.

    Data prepared in: 0.009327s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 4.231ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 10.986ms                            | 37.25            | 5               |

| 11.709ms                            | 100              | 15              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.013577s

In [0]:
 most_popular=popularity_model.recommend(users=[2,25,26,27],k=3)

In [0]:
most_popular.print_rows(num_rows=55)

+---------+-------------+---------------------+------+
| user_id | total_items |        score        | rank |
+---------+-------------+---------------------+------+
|    2    |      11     | 0.09406640437933114 |  1   |
|    2    |      30     | 0.04171597499113817 |  2   |
|    25   |      7      | 0.25032050907611847 |  1   |
|    25   |      5      | 0.21193180978298187 |  2   |
|    25   |      22     | 0.17724359035491943 |  3   |
|    26   |      6      | 0.17011867463588715 |  1   |
|    26   |      22     | 0.15285790711641312 |  2   |
|    26   |      20     | 0.15285790711641312 |  3   |
|    27   |      7      |         0.5         |  1   |
|    27   |      8      |  0.3333333134651184 |  2   |
|    27   |      3      | 0.27272725105285645 |  3   |
+---------+-------------+---------------------+------+
[11 rows x 4 columns]

In [0]:
df['branch_id'].unique()

In [0]:
df['user_id'].unique()